@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

body {
    background-color: black;
    color: #fff;
}

.banner-wrap {
    background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)), url(./assets/img/background\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    padding: 10px 8px;
    position: relative;
    border-bottom: 10px solid #313131;
}  
/* Nav styling */
nav {
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 0 45px;
    padding: 45px;
} 

nav a{
    padding: 8px 10px;
    background-color: #e2151c;
    color: #fff;
    height: 32px;
    width: 77px;
    border-radius: 4px;
    text-align: center;
    align-content: center;
}   

nav a:hover{
    background-color: #be080e;
} 

.nav .logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.logo img {
    width: 40vh;
}
/* banner styling */
.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 182px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 120px;
}

.card-title {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-weight: 600;
    text-align: center;
}

.card-paragraph {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0; 
    text-align: center; 
}

.card-subtitle{
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;
    text-align: center;
}
/* form styling */
.get-started-form {
    height: 112px;
    display: block;
    padding-top: 10px;
    gap: 10px;
    text-align: center;
    margin-bottom: -0,20px;
    align-items:center;
    font-size: 1.2rem;
}

.get-started-btn {
    background-color: #e2151c;
    border: none;
    height: 56px;
    width: 209px;
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700; 
    padding: 0px 26px;
}

.get-started-input {
    width: 350px;
    height: 50%;
    border-radius: 5px;
    background-color: gray;
    opacity: 0.5;
    padding: 10px;
    border: none;
    border: #fff 2px solid;
}
/* info styling */
.info-container {
    display: block;
    flex-direction: column;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items:start;
    margin-top: 20px;
    padding: 56px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.info {
    display: block;
    margin-left: 200px; 
    width: 100%;
    padding: 0;
    margin-bottom: 150px;
    align-items: start;
}

.info-title h2 {
    display: block;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
/* video styling */
.info-paragraph {
    display: block;
    font-weight: 400;
    text-align: center;
}

.tv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 90%; 
    margin-top: -250px;
}

.tv-container img {
    z-index: 1;
}
.tv-container video {
   position: absolute;  
} 
/* footer styling */
.footer {
    background-color: #000;
    border-top: 10px solid #4d4d4d;
}
.footer-links {
            list-style-type: none;
            columns: 4;
}
 .footer-links li {
    font-size: 20px;
    line-height: 2;
    text-decoration: underline;
 }                    
.footer-items {
    margin: 0px 50px;
    padding: 60px 45px;
}
.footer-top {
    margin-bottom: 30px;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
}
.question-call {
    color: #757575;
}
.footer ul li{
   color: #757575;
    text-decoration: none;
    cursor: pointer;
}
.footer-question {
    color: #757575;
}
.footer-question:hover {
    text-decoration: underline;
}
.footer ul li:hover {
    text-decoration: underline;
}
/* language styling */
#language {
    margin-top: 24px;
    height: 32px;
    width: 120px;
    color: #757575;
    background-color: #000;
    border-radius: 5px;
    padding: 6px;
}
.footer-text {
    color: #757575;
    margin-top: 24px;
    font-size: 15px;
}
/* the end */

 